<div class="table-responsive">
  <table class="table table-striped" id="challenge-table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Votes</th>
        <th scope="col">Created_by</th>
        <th scope="col">Create_date</th>
        <th scope="col">Tags</th>
        <th scope="col">Collaborators</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @challenges.includes(:votes, :tag, :employees) %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@challenges_pagy) %>
</div>